{% extends 'base.html.twig' %}

{% block title %}Inventarios index{% endblock %}

{% block body %}
    <h1>Inventarios index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inventario in inventarios %}
            <tr>
                <td>{{ inventario.id }}</td>
                <td>{{ inventario.nombre }}</td>
                <td>{{ inventario.precio }}</td>
                <td>{{ inventario.cantidad }}</td>
                <td>
                    <a href="{{ path('app_inventarios_show', {'id': inventario.id}) }}">show</a>
                    <a href="{{ path('app_inventarios_edit', {'id': inventario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_inventarios_new') }}">Create new</a>
{% endblock %}
